@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
html {
  background: #4f585e;
}
div.browser {
  background: #fff url(http://www.s4c.cymru/temp/unsplash-kitsune-4.jpg) no-repeat;
  background-size: cover;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4), 0 12px 24px -6px rgba(0, 0, 0, 0.4), 0 24px 64px 12px rgba(0, 0, 0, 0.25);
  color: #323b40;
  font-family: 'Source Sans Pro', helvetica;
  overflow: hidden;
  letter-spacing: -0.05em;
  margin: 5% auto;
  max-width: 1200px;
  min-width: 320px;
  min-height: 600px;
  padding-bottom: 10%;
  position: relative;
  width: 90%;
}
div.browser div.chrome {
  background: #4f585e;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
div.browser div.chrome > a {
  border-radius: 12px;
  display: block;
  float: left;
  height: 12px;
  margin: 13px 4px;
  width: 12px;
}
div.browser div.chrome > a:first-child {
  margin-left: 13px;
}
div.browser div.chrome > a.red {
  background: #fc625c;
}
div.browser div.chrome > a.amber {
  background: #fdbc40;
}
div.browser div.chrome > a.green {
  background: #34c748;
}
div.browser div.chrome div.url {
  background: #5f676d;
  border-radius: 4px;
  height: 24px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 8px;
  width: 70%;
}
div.browser h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding: 80px 40px 10px;
}
div.browser h2 {
  font-size: 48px;
  line-height: 1em;
  max-width: 16em;
  margin: 0;
  padding: 0 40px;
}
footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
footer div.social-media-links {
  background: #323b40;
  overflow: hidden;
  padding-bottom: 4px;
  text-align: center;
}
footer div.social-media-links ul {
  margin: 0;
  padding: 0;
}
footer div.social-media-links li {
  display: inline;
  margin: 0;
  padding: 0;
}
footer div.social-media-links a {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 30px;
  padding: 20px;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}
footer div.social-media-links a svg {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 30px;
  width: 30px;
}
footer div.social-media-links a svg.glow path,
footer div.social-media-links a svg.glow circle {
  fill: rgba(0, 0, 0, 0);
}
footer div.social-media-links a svg path,
footer div.social-media-links a svg circle {
  fill: #0096a1;
  transition: 0.2s ease-in;
}
footer div.social-media-links a:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.05), 0 24px 24px rgba(0, 0, 0, 0.05), 0 36px 36px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.15), 0 64px 128px rgba(0, 0, 0, 0.15), 0 86px 8px 6px rgba(14, 186, 199, 0.25), 0 83px 4px 0px rgba(14, 186, 199, 0.95);
}
footer div.social-media-links a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(2px);
}
footer div.social-media-links a:hover svg.glow path,
footer div.social-media-links a:hover svg.glow circle {
  fill: rgba(14, 186, 199, 0.6);
}
footer div.social-media-links a:hover svg path,
footer div.social-media-links a:hover svg circle {
  fill: #0ebac7;
}
